.cNewsCategory {margin-bottom:20px}
.cNewsCategory .ui-corner-left {border-bottom-left-radius:0}
.cNewsCategory .ui-corner-right {border-top-right-radius:0;}
.cNewsCategory .ui-button {margin-right:0}
.cNewsCategory a {font-size:12px; width:200px}

/* News */
.cNewsList {margin: -15px 0 0;}
.cNewsList .item {margin:15px 0 10px 3px; padding:0; overflow: hidden;}
.cNewsList .date, .cNewsSingle .date {font:italic 11px Times New Roman,sans-serif; color:#000}
.cNewsList .list_date {float: left;margin: 5px 10px 0 0;width: 85px;}
.cNewsList h3 {margin:0; padding:0; text-shadow:none; font:16px/18px 'Trebuchet MS',Arial,sans-serif}
.cNewsList h3:first-letter {text-transform:uppercase;}
.cNewsList h3 a {margin:0 10px 0 0}
.cNewsList .text {font:14px 'Trebuchet MS',Arial,sans-serif;; margin-top:3px; color:#000; cursor: default; display: none;}
.cNewsList .more {font:14px "Trebuchet MS", Arial, Helvetica, sans-serif; text-align:right; margin:3px 0 0 0; display: none;}
.cNewsList .photo {margin:6px 6px 0 0; float:left; display: none;}
.cNewsList .photo img {width:100px}

.cNewsSingle .archive {margin:20px 0; clear:left}
.cNewsSingle .photo {margin:0 0 20px 0}
.cNewsSingle .print {float:right; width:13px; height:13px; display:block; margin:-2px 0 0 0}

.cNewsSingle {position:relative}
.cNewsSingle .prev, .cNewsSingle .next {position:absolute; top:-40px; display:none}
.cNewsSingle .prev a:link, .cNewsSingle .prev a:visited, .cNewsSingle .next a:link, .cNewsSingle .next a:visited {background-image:url(/gfx/arrowSprite.png); text-decoration:none; display: block; width: 20px; height: 26px;}
.cNewsSingle .prev {left:-40px}
.cNewsSingle .prev a {background-position:0 0}
.cNewsSingle .prev a:hover {background-position:0 -26px}
.cNewsSingle .next {left:615px}
.cNewsSingle .next a {background-position:-20px 0}
.cNewsSingle .next a:hover {background-position:-20px -26px}

.cNewsSingle a:link, .mNewsList a:visited {text-decoration:underline}
.cNewsSingle a:hover {text-decoration:none}
.cNewsSingle .b-news-archive {margin:20px 0 20px; clear:left; font:14px Times New Roman; color:#a41c16}
.cNewsSingle .b-news-archive a{color:#a41c16}
