p {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height:20px;}
body{margin:0;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:20px;color:#333333;background-color:#ffffff;}

.z {font-size:0; line-height:0; display:block; height:0}
.clr {clear: both; font-size:0; line-height:0; height:0} /* clearing <div class="clr"></div> */

.defList, .defList ul {margin:0 0 0 0; padding:0 0 0 20px; list-style:none !important}
.defList li {margin:0; padding:5px 0; clear:both}
a,a:link,a:visited{color:#36638a}

/* Content Table */
.cTable td {padding:0 20px 20px 0}
.cTableB {border-top:1px solid #666; border-left:1px solid #666}
.cTableB td {padding:5px; border-right:1px solid #666; border-bottom:1px solid #666}
.cTableB th {padding:5px; border-right:1px solid #666; border-bottom:1px solid #666; text-align:left}

.tabbable .nav-pills {margin-top:-30px}

.b-contact-table td {vertical-align:top; width:33%}

img{max-width:none;}
.main .cContent img {margin: 0;}
.cContent img {margin: 15px;}
.main .cContent img, .cContent .single_photo img, .cContent .image_stack img, .cContent .daGallery img {margin: 0px;}

.spoiler-head {margin-bottom:10px}