html,body {
	height: 100%;
	width: 100%;
}

body {
	background: url(/themes/business/gfx/bg.png) repeat 0 0;
	background-color: transparent !important;
	padding: 0;
}

body.printPage {
	text-align: left
}

body.printPage h1 {
	margin: 15px
}

#yii-debug-toolbar-swither {
	top: 50px
}

#yii-debug-toolbar-swither .close {
	opacity: 1
}

.row {
	margin-left: 0 !important;
}

a:link,a:hover,a:visited,a:active {
	color: #2c6146;
}

input:focus {
	outline: none !important;
	box-shadow: none !important;
}

p {
	font-family: Times New Roman;
}
/****************************************/
.main_wrapper {
	/*background:url(/themes/business/gfx/fon.png) repeat-y center 0*/;
	
}

#wrap {
	border: none;
	height: auto !important;
	margin: 0 auto;
	min-height: 100%;
	position: relative; //
	background: #fff;
}

#main {
	clear: both;
	/*margin: 0 0 95px 0;*/
	background: #fff;
	border-radius: 6px;
}

.b_top {
	background: url(/themes/business/gfx/hd_bg.png) #4ca144 repeat-x 0 0;
}

.b_top div {
	/*background:url(/themes/business/gfx/z.gif) no-repeat 0 0*/;
	margin: 0 auto;
	width: 1140px;
	height: 26px;
	padding-top: 6px
}

.b_top div a {
	font: 12px Times New Roman;
	color: #fff;
	float: right;
}

.b_top div a.komi {
	background: url(/themes/business/gfx/flag.png) no-repeat 0 0;
	padding: 2px 0 0 31px;
	display: block
}

.b_top div a.russ {
	background: url(/themes/business/gfx/flag_rus.png) no-repeat 0 0;
	padding: 2px 0 0 31px;
	display: block
}

#head {
	height: 296px; /*padding: 35px 23px 23px 35px;*/
	position: relative;
	overflow: hidden;
}

#head .logo {
	height: 140px;
	overflow: hidden;
	position: absolute;
	top: 20px;
	z-index: 5
}

#head .logo img {
	border: 0 none;
}

#head .cname {
	color: #333333;
	font: 25px Arial;
	margin-top: 40px;
}

#head .cname p {
	color: #999999;
	font: 16px Arial;
	margin-top: 3px;
	padding: 0;
}

#head .tright {
	margin-top: 40px;
	overflow: hidden;
}

#head .tabbable {
	position: absolute;
	top: 0;
	z-index: 1;
	left: 30px
}

#sidebarLeft {
	padding-top: 0 !important;
	background: none !important
}

#sidebarLeft .pull-right {
	/*position: absolute; top:23px; z-index:2; right:0*/
	float: left !important;
	margin-bottom: 25px;
}

#sidebarLeft .pull-right input {
	font: 12px Arial;
	width: 219px;
	border: 1px solid #cdcdcd;
	border-right: none;
	border-bottom: none;
	color: #000;
	height: 28px;
	padding: 0 0 0 3px !important;
}

#sidebarLeft .pull-right input::-webkit-input-placeholder {
	color: #000;
	padding-left: 7px;
}

#sidebarLeft .pull-right input::-moz-placeholder {
	color: #000;
	padding-left: 7px;
} /* Firefox 19+ */
#sidebarLeft .pull-right input:-moz-placeholder {
	color: #000;
	padding-left: 7px;
} /* Firefox 18- */
#sidebarLeft .pull-right input:-ms-input-placeholder {
	color: #000;
	padding-left: 7px;
}

#sidebarLeft .pull-right .btn {
	border: none;
	background: url(/themes/business/gfx/srch-btn.png) no-repeat 0 0;
	width: 28px;
	height: 28px;
	padding: 0;
	margin: 0
}

#sidebarLeft .pull-right .btn:hover {
	border: none;
	background: url(/themes/business/gfx/srch-btn.png) no-repeat 0 0;
}

.search {
	display: table;
	position: relative;
	width: 100%;
	padding-left: 23px;
}

#sidebarRight {
	width: 275px;
	float: right;
}

#head .tright .numbers {
	text-align: right;
}

#head .tright .numbers p {
	font: 14px Arial;
	margin: 2px;
}

#head .tright .numbers p strong {
	font: 20px Arial;
	margin: 0;
	padding: 0;
}

#footer {
	height: 95px;
	margin: 0 auto;
	position: relative;
	/* background:url(/themes/business/gfx/ff.jpg) no-repeat 0 0*/;
}

#footer .logo img {
	width: 100px
}

#cvek {
	font: 12px Arial;
	color: #FFF;
	height: 24px;
	display: block;
	width: auto;
}

#cvek a,#cvek a:link,#cvek a:visited { /* display:block;*/
	height: 24px;
	color: #FFF;
	/*float: right;*/
	margin-left: 3px;
	text-decoration: underline;
}

#cvek a:hover {
	background-position: 0 -26px
}

#rights {
	font: 12px Arial;
	color: #FFF;
	height: 24px;
	display: block;
	width: 450px;
}

#text_body {
	
}

#container {
	
}

#content { /*width:846px;*/ /*margin:25px 0 0 25px*/
	width: 620px;
}

#sidebarLeft {
	padding-top: 25px;
	background: url(/themes/business/gfx/l.png) no-repeat 0 0;
	width: 275px
}

#container {
	background: url(/themes/business/gfx/r.png) no-repeat right 0;
	margin-left: 0 !important;
}

[class *="span"] {
	margin-left: 0 !important;
}

.block .inside {
	padding: 10px 25px 0;
}

table.table0 td p,table.table1 td p,table.table2 td p {
	margin: 0;
	padding: 0;
}

table.table0 {
	border-collapse: collapse;
}

table.table0 td {
	border: medium none;
	padding: 5px;
}

table.table1 {
	border-collapse: collapse;
}

table.table1 td {
	border: 1px solid #CCCCCC;
	padding: 5px;
}

table.table2 {
	border-collapse: collapse;
}

table.table2 td {
	border: 1px solid #CCCCCC;
	padding: 5px;
}

table.table2 th {
	background: none repeat scroll 0 0 #FF7B12;
	border: 1px solid #FFFFFF;
	color: #111111;
	padding: 8px 5px;
	text-align: center;
}

table.table3 {
	border-collapse: collapse;
}

table.table3 td {
	border: 1px solid #CCCCCC;
	padding: 1px;
	text-align: center;
	width: 8px;
}

table.table3 td.name {
	border: 1px solid #CCCCCC;
	padding: 1px 1px 1px 5px;
	text-align: left;
	width: 8px;
}

table.table3 th {
	background: none repeat scroll 0 0 #3863BA;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	padding: 1px;
	text-align: center;
}

table.table1 tr:hover,table.table2 tr:hover,table.table3 tr:hover {
	background: none repeat scroll 0 0 #EEEEEE;
}

.mBannersR {
	margin-right: 23px;
	width: 252px;
	margin-bottom: 30px;
}

.mBannersR a {
	margin: 5px 0;
}

/* Виджет меню слева */
.b-menu-side-list {
	padding: 0;
	position: relative;
	margin: 0 0 45px 23px;
	border-right: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px
}

.b-menu-side-list ul {
	list-style: none;
	padding: 0;
	border-right: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px
}

.b-menu-side-list li {
	font-size: 18px
}

.b-menu-side-list .nav-list  li  a {
	padding: 7px 0 7px 12px;
	color: #000;
	font: 14px Arial;
	background: #f4f9f4;
	background: -moz-linear-gradient(top, #f4f9f4 0%, #e2e9e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f9f4),
		color-stop(100%, #e2e9e5) );
	background: -webkit-linear-gradient(top, #f4f9f4 0%, #e2e9e5 100%);
	background: -o-linear-gradient(top, #f4f9f4 0%, #e2e9e5 100%);
	background: -ms-linear-gradient(top, #f4f9f4 0%, #e2e9e5 100%);
	background: linear-gradient(to bottom, #f4f9f4 0%, #e2e9e5 100%);
	filter: progid : DXImageTransform.Microsoft.gradient (   startColorstr =
		'#f4f9f4', endColorstr = '#e2e9e5', GradientType = 0 );
}

.b-menu-side-list .nav-list  li  a:hover {
	padding: 7px 0 7px 12px;
	color: #fff;
	font: 14px Arial;
	background: #5eaf53;
	background: -moz-linear-gradient(top, #5eaf53 0%, #2f8a2a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5eaf53),
		color-stop(100%, #2f8a2a) );
	background: -webkit-linear-gradient(top, #5eaf53 0%, #2f8a2a 100%);
	background: -o-linear-gradient(top, #5eaf53 0%, #2f8a2a 100%);
	background: -ms-linear-gradient(top, #5eaf53 0%, #2f8a2a 100%);
	background: linear-gradient(to bottom, #5eaf53 0%, #2f8a2a 100%);
	filter: progid : DXImageTransform.Microsoft.gradient (   startColorstr =
		'#5eaf53', endColorstr = '#2f8a2a', GradientType = 0 );
}

.b-menu-side-list li:last-child a {
	border-radius: 0 0 5px 0
}

.b-menu-side-list .nav-list .nav-list  li  a {
	padding: 0 15px 0 18px;
	background: url(/themes/business/gfx/ll.gif) no-repeat 0 7px;
	color: #fff;
	font: 11px Arial;
	text-decoration: underline
}

.b-menu-side-list .nav-list .nav-list  li  a:hover {
	text-decoration: none
}

.b-menu-side-list ul ul {
	border: none;
	border-radius: 0;
	background: url('/themes/business/gfx/left-menu-bg.png') top right
		repeat-y #499f41;
	display: none;
	padding: 12px 10px 5px 34px
}

.b-menu-side-list li li {
	margin-bottom: 7px
}

.b-menu-side-list .nav-list .nav-list>.active>a {
	background: none;
	color: #000
}

.b-menu-side-list li li li {
	font-size: 14px;
}

.b-menu-side-list .nav-list .nav-list .nav-list>.active>a {
	background: none;
	font-weight: 700;
	color: #FFF
}

.b-menu-side-list .nav-list li .active {
	color: #fff;
	background: url('/themes/business/gfx/left-menu-bg.png') top right
		no-repeat #5eaf53;
	background: url('/themes/business/gfx/left-menu-bg.png') top right
		no-repeat, -moz-linear-gradient(top, #5eaf53 0%, #2f8a2a 100%);
	background: url('/themes/business/gfx/left-menu-bg.png') top right
		no-repeat,
		-webkit-gradient(linear, left top, left bottom, color-stop(0%, #5eaf53),
		color-stop(100%, #2f8a2a) );
	background: url('/themes/business/gfx/left-menu-bg.png') top right
		no-repeat, -webkit-linear-gradient(top, #5eaf53 0%, #2f8a2a 100%);
	background: url('/themes/business/gfx/left-menu-bg.png') top right
		no-repeat, -o-linear-gradient(top, #5eaf53 0%, #2f8a2a 100%);
	background: url('/themes/business/gfx/left-menu-bg.png') top right
		no-repeat, -ms-linear-gradient(top, #5eaf53 0%, #2f8a2a 100%);
	background: url('/themes/business/gfx/left-menu-bg.png') top right
		no-repeat, linear-gradient(to bottom, #5eaf53 0%, #2f8a2a 100%);
	filter: progid : DXImageTransform.Microsoft.gradient (   startColorstr =
		'#5eaf53', endColorstr = '#2f8a2a', GradientType = 0 );
}

.b-menu-side-list li.submenu-link a:after {
	display: inline-block;
	width: 0px;
	height: 0px;
	vertical-align: middle;
	margin-left: 5px;
	border-top: 4px solid #000;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
	border-top-color: #000 !important;
	border-bottom-color: #000 !important;
}

.b-menu-side-list li.submenu-link a.active:after {
	display: inline-block;
	width: 0px;
	height: 0px;
	vertical-align: middle;
	margin-left: 5px;
	border-top: 4px solid #fff;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
	border-top-color: #fff !important;
	border-bottom-color: #fff !important;
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	filter: progid : DXImageTransform.Microsoft.BasicImage ( rotation = 2 );
	-o-transform: rotate(-180deg);
}

.b-menu-side-list li.submenu-link ul li a:after {
	display: none !important;
}

.b-menu-top { /*background-color: #EEEEEE;
  background-image:-moz-linear-gradient(top,#F5F5F5,#EEEEEE);
  background-image:-ms-linear-gradient(top,#F5F5F5,#EEEEEE);
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#F5F5F5),to(#EEEEEE));
  background-image:-webkit-linear-gradient(top,#F5F5F5,#EEEEEE);
  background-image:-o-linear-gradient(top,#F5F5F5,#EEEEEE);
  background-image:linear-gradient(top,#F5F5F5,#EEEEEE);
  background-repeat:repeat-x;*/
	background: url('/themes/business/gfx/top-menu-bg.png') no-repeat 0 0;
	background-size: cover;
	margin-bottom: 20px;
	overflow: inherit;
	display: table;
	width: 100%;
}

.b-menu-top  ul {
	padding-left: 8px;
}

.navbar li a {
	padding: 15px !important;
	color: #fff !important;
	text-shadow: none !important;
	font-size: 16px;
}

.b-menu-top .nav-collapse:after {
	clear: both;
	content: "";
	display: table;
	line-height: 0;
}

.b-menu-top .pull-right {
	margin-top: 4px;
	margin-bottom: 0
}

.nav-list>li>a,.nav-list .nav-header {
	margin: 0;
	text-shadow: none;
}

.navbar .nav>.active>a,.navbar .nav>.active>a:hover,.navbar .nav>.active>a:focus,.navbar li.open a
	{
	background: none !important;
	border: none !important;
	box-shadow: none !important;
}

.navbar li a b.caret {
	display: inline-block;
	width: 0px;
	height: 0px;
	vertical-align: top;
	border-top: 4px solid #000;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
	-webkit-transform: rotate(-90deg); /* Chrome y Safari */
	-moz-transform: rotate(-90deg); /* Firefox */
	filter: progid : DXImageTransform.Microsoft.BasicImage ( rotation = 3 );
	/* Internet Explorer */
	-o-transform: rotate(-90deg);
	border-top-color: #fff !important;
	border-bottom-color: #fff !important;
}

.b-menu-top ul.nav li.dropdown a b.caret {
	margin-top: 6px !important;
}

ul ul.dropdown-menu li.dropdown a.child b.caret {
	margin-top: 9px !important;
}

.navbar li ul {
	background: url('/themes/business/gfx/left-menu-bg.png') top right
		repeat-y #5eaf53;
	background: url('/themes/business/gfx/left-menu-bg.png') top right
		repeat-y, -moz-linear-gradient(top, #5eaf53 0%, #2f8a2a 100%);
	background: url('/themes/business/gfx/left-menu-bg.png') top right
		repeat-y,
		-webkit-gradient(linear, left top, left bottom, color-stop(0%, #5eaf53),
		color-stop(100%, #2f8a2a) );
	background: url('/themes/business/gfx/left-menu-bg.png') top right
		repeat-y, -webkit-linear-gradient(top, #5eaf53 0%, #2f8a2a 100%);
	background: url('/themes/business/gfx/left-menu-bg.png') top right
		repeat-y, -o-linear-gradient(top, #5eaf53 0%, #2f8a2a 100%);
	background: url('/themes/business/gfx/left-menu-bg.png') top right
		repeat-y, -ms-linear-gradient(top, #5eaf53 0%, #2f8a2a 100%);
	background: url('/themes/business/gfx/left-menu-bg.png') top right
		repeat-y, linear-gradient(to bottom, #5eaf53 0%, #2f8a2a 100%);
	filter: progid : DXImageTransform.Microsoft.gradient (   startColorstr =
		'#5eaf53', endColorstr = '#2f8a2a', GradientType = 0 );
}

.navbar li ul ul {
	top: 0;
	left: 200px;
}

.navbar li ul ul ul {
	left: 163px;
	top: -8px;
}

.navbar .nav>li>.dropdown-menu:before {
	content: "";
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #5DAE52 !important;
	position: absolute;
	top: -7px;
	left: 9px;
}

.navbar .nav>li>.dropdown-menu:after {
	border-bottom: 7px solid #5DAE52 !important;
}

.b-news-date {
	font-family: serif;
	font-size: 12px;
	font-style: italic;
	font-weight: 700; //
	margin: -25px 0 25px;
}

.b-news-archive a {
	color: #A41C16;
	font: 14px Times New Roman;
}

.wShare td {
	text-align: left;
}

.b-ajax-process {
	background: url(/engine/admin/gfx/loading_s.gif) no-repeat 0 0;
	display: inline-block;
	visibility: hidden;
	width: 16px;
	height: 16px;
	line-height: 16px;
	vertical-align: text-top;
}

.b-ajax-process-active {
	visibility: visible;
}

.pagination .b-ajax-process {
	margin-left: 20px;
	margin-top: -15px
}

//
аякс-процесс для переключателя страниц /*carousel*/ 
.carousel-wrapper {
	top: 0;
	left: 30px;
	z-index: 1;
	margin-left: 0;
	width: 1170px
}

.carousel-wrapper .carousel { /*height:426px;*/
	margin-bottom: 30px;
}

#head .tabbable .fon {
	background: url(/themes/business/gfx/pic_fon.png) no-repeat 0 0;
	width: 1170px;
	height: 296px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3
}

.carousel-wrapper .hero-unit {
	padding: 0
}

.hero-unit h1 {
	color: inherit;
	font: 700 44px Arial;
	letter-spacing: -1px;
	line-height: 1;
	margin: 152px 0 0 635px;
	width: 410px;
	text-align: left;
	text-shadow: 1px 1px 1px #000;
	-webkit-text-shadow: 1px 1px 1px #000;
	-moz-text-shadow: 1px 1px 1px #000;
	overflow: hidden
}

.hero-unit p {
	text-align: left;
	font: 700 18px Arial;
	text-shadow: 1px 1px 1px #000;
	-webkit-text-shadow: 1px 1px 1px #000;
	-moz-text-shadow: 1px 1px 1px #000;
	width: 410px;
	margin: 25px 0 0 635px;
}

#carousel {
	margin: 0 auto;
	width: 100%;
	height: 296px;
	overflow: hidden;
}

#carousel .carousel_box {
	float: left;
	width: 1170px;
	height: 296px;
	color: #fff;
	background: #fff;
	line-height: 140px;
	text-align: left;
	font-size: 123%;
}

#carousel .carousel_box a,#carousel .carousel_box a:link,#carousel .carousel_box a:visited
	{
	color: #fff;
	text-decoration: none
}

#head .carousel_indicator {
	position: absolute;
	top: 250px;
	right: 0;
	z-index: 10;
}

#head .carousel_indicator span {
	background: none repeat scroll 0 0 #888888;
	border-radius: 5px 5px 5px 5px;
	display: inline-block;
	height: 15px;
	margin: 0 2px;
	text-indent: -1000em;
	width: 14px;
}

#head .carousel_indicator span.active {
	background: none repeat scroll 0 0 #000000;
}

#head .carousel_indicator span {
	background: url('/themes/business/gfx/t.png') no-repeat -19px 0;
	display: inline-block;
	width: 14px;
	height: 15px;
	margin: 0 0 0 5px;
	text-indent: -1000em;
	cursor: pointer;
}

#head .carousel_indicator span.active {
	background: url('/themes/business/gfx/t.png') no-repeat 0 0;
}

/*Витрина*/
.b-vitrine {
	height: 295px;
	overflow: hidden;
	clear: both;
	margin: 0 /*0 0 30px*/;
}

.i-fon {
	height: 295px;
	width: 1170px;
	z-index: 2;
	margin: 0 0 0 30px;
	position: absolute;
}

.b-vitrine-bg {
	height: 295px;
	width: 1170px;
	z-index: 2;
	position: absolute;

	background: -moz-linear-gradient(274deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 54%);
	background: -webkit-linear-gradient(274deg, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 54%);
	background: linear-gradient(to right bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 54%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}

.b-vitrine__slide {
	display: none;
	position: absolute;
	top: 0;
	z-index: 1;
}

.b-vitrine ul {
	margin: 250px 0 0 0;
	list-style: none;
	position: absolute;
	z-index: 100;
	right: 0;
}

.b-vitrine li {
	background: url(/themes/business/gfx/t_2.png) no-repeat scroll 0 center
		transparent;
	float: left;
	margin: 0 9px 0 0;
	padding: 0 3px 0 4px;
	max-width: 7px;
	overflow: hidden;
}

.b-vitrine li a {
	color: rgba(0, 0, 0, 0);
	text-decoration: none;
	margin: 10px 0;
}

.b-vitrine li.cur {
	background: url(/themes/business/gfx/t_1.png) no-repeat scroll 0 center
		transparent;
}

.imgWrapper {
	/*background:url(/themes/business/gfx/hot.png) no-repeat 0 0; */
	height: 297px;
	overflow: hidden;
	clear: both;
	position: relative;
	width: 100%;
	margin-bottom: 25px;
}

.rotator {
	height: 297px;
	left: 0;
	position: absolute;
	top: 0;
	width: 986px;
	z-index: 10;
}

.imgWrapper .img {
	display: none;
	right: 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 5;
}

.imgWrapper .img img {
	width: 100%
}

.imgWrapper ul {
	left: 0;
	margin: 0;
	list-style: none;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 100;
}

.imgWrapper li {
	padding: 13px 18px;
	float: left;
	background: rgba(0, 0, 0, 0.5);
	display: block;
	width: 100%;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	box-sizing: border-box;
}

.imgWrapper li:hover {
	background: rgba(244, 246, 249, 0.51)
}

.imgWrapper li:hover .date {
	color: #000
}

.imgWrapper li:hover .text {
	color: #36638a
}

.imgWrapper li .date {
	margin-bottom: 6px
}

.imgWrapper a,.rotator a:visited,.rotator a:link {
	text-decoration: none;
	height: 73px;
	display: block;
	background: url(/themes/business/gfx/cur.png) no-repeat 0 -14px;
	font: italic 11px Times New Roman;
	color: #fff;
}

.imgWrapper a .text {
	font: 18px Times New Roman;
	color: #fff;
	text-decoration: underline;
}

.imgWrapper a .text:hover {
	text-decoration: none
}

ul.thumbnails {
	background: #f4f6f9;
	margin: 0;
	border-top: 1px solid #f1f2f4;
	padding: 23px 0 8px 3px;
	clear: both
}

.thumbnails {
	display: block;
	margin: 0
}

.main .page-header,.main .cContent .alert {
	display: none
}

.mDocsList {
	float: left;
	width: 420px;
	border-bottom: 1px solid #dcdcdd;
	background: #f4f6f9;
	border-right: 2px solid #e1e2e3;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin-bottom: 30px
}

.mDocsList h2 {
	font: 24px/37px Times New Roman;
	margin: 0 0 10px; /* padding:5px 0 0 20px*/
}

.mDocsList .item {
	clear: left;
	margin: 0;
	padding: 0 0 0 20px;
}

.mDocsList .date {
	font: italic 11px Times New Roman, sans-serif;
	color: #000
}

.mDocsList h3 {
	font: 18px/21px Times New Roman, Arial, sans-serif;
	margin: 5px 0 7px
}

.mDocsList a:link,.mDocsList a:visited {
	text-decoration: underline
}

.mDocsList a:hover {
	text-decoration: none
}

.mDocsList .archive {
	padding: 13px 0 13px 20px;
	clear: left;
	font: 14px Times New Roman;
	color: #a41c16
}

.mDocsList .archive a {
	color: #a41c16
}

.mDocsList__hr {
	margin: 12px 0;
}

.thumbnails>li {
	border-left: 1px solid #edeff2;
	border-top: 2px solid #edeff2;
	float: left;
	background: #fff;
	margin-bottom: 20px;
	border-right: 1px solid #dddfe2;
	border-bottom: 1px solid #dddfe2;
	margin-left: 20px;
	padding: 8px;
	width: 248px;
	box-shadow: 2px 2px 3px #E7E9EB;
	-webkit-box-shadow: 2px 2px 3px #E7E9EB;
	-moz-box-shadow: 2px 2px 3px #E7E9EB;
	height: 150px;
}

.thumbnails>li h5 {
	font: 18px Times New Roman;
	color: #000;
	margin: 7px 0 5px
}

.footer { /*background:#497ba6*/;
	background: url('/themes/business/gfx/footer-bg.png') 0 0 repeat-x
		#499f41;
	height: 95px
}

.b-feedback-widget {
	float: right;
	position: fixed;
	right: 0;
	top: 200px;
	z-index: 1000;
}

.b-feedback-widget select {
    width: 302px !important;
}
.input-xlarge {
    width: 286px !important;
}

.b-feedback-widget__btn {
	height: 151px;
	width: 33px;
	/*background: url(/themes/business/gfx/poplavok.png) no-repeat;*/
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-radius: 4px 0 0 4px;
	border-width: 0px;
	cursor: pointer;
	display: inline-block;
	z-index: 700;
	position: absolute;
	right: 0;
	float: left;
}

.b-feedback_control {
	display: none;
}

.b-feedback-widget_adresat a {
	color: #FFF;
}

.b-feedback-widget_adresat {
	float: right;
	background: #5eaf53;
	-moz-linear-gradient: ( top, #5eaf53 0%, #2f8a2a 100% );
	background: -moz-linear-gradient(top, #5eaf53 0%, #2f8a2a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5eaf53),
		color-stop(100%, #2f8a2a) );
	background: -webkit-linear-gradient(top, #5eaf53 0%, #2f8a2a 100%);
	background: -o-linear-gradient(top, #5eaf53 0%, #2f8a2a 100%);
	background: -ms-linear-gradient(top, #5eaf53 0%, #2f8a2a 100%);
	background: linear-gradient(to bottom, #5eaf53 0%, #2f8a2a 100%);
	filter: progid : DXImageTransform.Microsoft.gradient (   startColorstr =
		'#5eaf53', endColorstr = '#2f8a2a', GradientType = 0 );
	right: -265px;
	position: absolute;
	overflow: hidden;
	padding: 10px;
	width: 245px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
}

.cContent { /* margin-bottom: 20px;*/
	padding: 0 20px;
	font-family: Times New Roman;
}

.cNewsSingle {
	font-family: Times New Roman;
}
/* галерея */
#showbox {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5) !important;
}

#showbox .prevAr {
	background-color: rgba(0, 0, 0, 0.0) !important;
}

#showbox .nextArrow {
	background-color: rgba(0, 0, 0, 0.0) !important;
}

.cDocsList .item {
	border-bottom: 1px solid #eee;
	margin-bottom: 15px;
	padding: 0 0 15px
}

.cDocsList .item .date {
	font-size: 11px
}

.cDocsList .cDocsCategory {
	margin-bottom: 35px;
}

.cDocsList .cDocsCategory p {
	font-size: 18px
}

.cDocsList .cDocsCategory p a {
	font-size: 14px
}

.image-title {
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
}

.cNewsList h3 {
	padding-left: 95px;
}

.cNewsList h3 a {
	line-height: 1.4;
}

.footer-text {
	display: inline-block;
	float: right;
	margin-top: 15px;
}

.footer-logo {
	display: inline-block;
	float: left;
	margin-top: 15px;
	margin-left: 23px;
}

a.blind {
	text-decoration: none;
	font-size: 18px !important;
	margin-left: 10px;
	margin-top: -2px;
}

.news-instr {
	width: 100%;
	background: #f4f9f4;
	background: -moz-linear-gradient(top, #fff 0%, #f4f7f6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff),
		color-stop(100%, #f4f7f6) );
	background: -webkit-linear-gradient(top, #fff 0%, #f4f7f6 100%);
	background: -o-linear-gradient(top, #fff 0%, #f4f7f6 100%);
	background: -ms-linear-gradient(top, #fff 0%, #f4f7f6 100%);
	background: linear-gradient(to bottom, #fff 0%, #f4f7f6 100%);
	filter: progid : DXImageTransform.Microsoft.gradient (   startColorstr =
		'#fff', endColorstr = '#f4f7f6', GradientType = 0 );
	height: 35px;
	display: table;
	margin-top: 0;
	border-radius: 0px 0px 4px 4px;
	border-top: 1px solid #e6e8e5;
}

.news-instr i {
	color: #2C6146;
	font-size: 17px;
	margin-right: 5px;
}

.news-instr  span.glyphicon {
	color: #2C6146;
	font-size: 17px;
	margin-right: 5px;
}

.news-instr .date {
	font-size: 12px;
	font-family: Arial, helvetica;
	margin: 0;
	padding: 0;
	float: left;
	width: 219px;
	height: 20px;
	margin-top: 7.5px !important;
	margin-left: 10px;
}

.news-instr .news-img {
	display: inline-block;
	float: left;
	margin-top: 7.5px;
	font-size: 12px;
	font-family: Arial, helvetica;
	margin-right: 40px;
}

.news-instr .news-comment {
	display: inline-block;
	float: left;
	margin-top: 7.5px;
	font-size: 12px;
	font-family: Arial, helvetica;
}

.news-instr .news-views {
	display: inline-block;
	float: right;
	margin-top: 7.5px;
	font-size: 12px;
	font-family: Arial, helvetica;
	margin-right: 10px;
}

.news-instr img {
	margin-bottom: 0 !important;
	margin-right: 5px !important;
	margin-top: 4px !important;
	width: auto !important;
}

.news-title-text {
	display: inline-block;
	float: right;
	width: 60%;
}

.news-item-container {
	width: 100%;
	display: table;
}

.mBannersR a img {
	width: 252px;
	max-width: 252px;
}

.bottom-banners {
	margin: 0;
	background: #f0f6f3;
	/*width:100%;*/
	padding: 40px 23px 40px 23px;
	clear: both;
}

.bottom-banners a {
	margin-right: 15px;
}

.bottom-banners a img {
	max-width: 210px;
}

.b-vote-widget {
	float: left !important;
	background: #fdfefe;
	box-shadow: 1px 1px 5px #CCC;
	border-radius: 5px;
	width: 252px;
	margin-top: 30px;
}

.b-vote-widget h4 {
	padding: 10px 20px;
	font-size: 16px;
}

.vote-form {
	padding: 0 20px 10px;
}

.b-vote-widget-header {
	color: #fff;
	font-size: 16px;
	background: url('/themes/business/gfx/vote-bg.png') no-repeat 0 0;
	background-size: cover;
	padding: 6px 20px;
	width: 212px;
	height: auto;
}

.b-vote-widget .btn-primary {
	color: #000 !important;
	text-shadow: none;
	background: #f4f9f4;
	background: -moz-linear-gradient(top, #f4f9f4 0%, #e2e9e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f9f4),
		color-stop(100%, #e2e9e5) );
	background: -webkit-linear-gradient(top, #f4f9f4 0%, #e2e9e5 100%);
	background: -o-linear-gradient(top, #f4f9f4 0%, #e2e9e5 100%);
	background: -ms-linear-gradient(top, #f4f9f4 0%, #e2e9e5 100%);
	background: linear-gradient(to bottom, #f4f9f4 0%, #e2e9e5 100%);
	filter: progid : DXImageTransform.Microsoft.gradient (   startColorstr =
		'#f4f9f4', endColorstr = '#e2e9e5', GradientType = 0 );
}

.breadcrumb {
	padding: 8px 20px;
	margin: 0 20px 20px;
	list-style: none;
	background: url('/themes/business/gfx/top-menu-bg.png') no-repeat 0 0;
	background-size: cover;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.page-header {
	margin: 0 20px 20px;
}

.b-comment-widget .form-horizontal .control-label {
	width: 100px !important;
}

.b-comment-widget .form-group {
	display: table;
	clear: both;
	margin-bottom: 10px;
}

.b-comment-widget .form-group div {
	display: inline-block !important;
	float: right;
	padding-left: 20px;
}

.b-comment-widget .form-group label {
	display: inline-block !important;
	float: left;
}

.mNewsSelector {
	padding: 0;
	margin: 10px 0
}

.mNewsSelector h2 {
	font: 32px "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin: 0 0 0 30px
}

.mNewsSelector ul {
	padding: 0;
	margin: 0
}

.mNewsSelector li {
	font: 16px/16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	position: relative;
	padding: 5px 10px 5px 30px;
	background-image: url(/gfx/arr.png);
	background-repeat: no-repeat;
	background-position: 14px 11px; //
	background-position: 14px 14px
}

.mNewsSelector li.cur {
	background-color: #e6e6e6;
	font-weight: 700;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	padding: 15px 10px 15px 30px;
	background-position: 14px -124px; //
	background-position: 14px -121px
}

.mNewsSelector a:link,.mNewsSelector a:visited {
	display: block
}

.mNewsSelector a:hover {
	text-decoration: none
}

.mNewsList {
	padding: 0 5px 0 5px;
	float: left;
	font-family: Arial;
}

.mNewsList h2 {
	margin: 7px 0 24px;
	padding: 0;
	font-size: 36px;
	font-family: Times New Roman, san-serif;
	font-weight: 300;
}

.mNewsList .item {
	clear: left;
	overflow: hidden;
	padding: 0;
	margin-bottom: 20px;
}

.mNewsList .item img {
	width: 213px;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}

.mNewsList .item span a {
	font-family: Times New Roman, san-serif;
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 13px;
	display: table;
	line-height: 22px;
	text-decoration: none !important;
}

.mNewsList .item p {
	font-family: Times New Roman;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 0 !important;
}

.mNewsList .text {
	font: 14px Arial, Helvetica, sans-serif;
	margin-left: 15px;
}

.mNewsList .more {
	font: 12px, Arial, Helvetica, sans-serif;
	text-align: right;
	clear: left;
	display: none
}

.mNewsList h3 {
	font: 25px Arial, sans-serif;
	margin-left: 15px;
}

.mNewsList a:link,.mNewsList a:visited {
	text-decoration: underline;
	color: #2c6146;
}

.mNewsList a:hover {
	text-decoration: none
}

.mNewsList .rss {
	margin: 0 0 0 10px
}

.mNewsList .rss img {
	vertical-align: baseline
}

.mNewsList .addYandex {
	position: relative;
	margin: 0 0 0 5px;
	vertical-align: baseline
}

.mNewsList .addYandex img {
	clip: rect(60px, 428px, 76px, 400px);
	position: absolute;
	top: -57px;
	left: -400px;
	vertical-align: baseline
}

.mNewsList .photo {
	float: left; /*margin: 3px 15px 0 0;*/
	display: inline-block;
	width: 40%;
}

.mNewsList .photo img {
	width: 100%;
}

.mNewsList .archive {
	margin: 20px 0 20px;
	clear: left;
	font: 14px Arial;
	color: #a41c16
}

.mNewsList .archive a {
	color: #a41c16
}

.open-menu {
	display: block !important;
}

.structure-scheme {
	width: 100%;
	max-width: 100%;
	background: url('/themes/business/gfx/structure.png') no-repeat -50px 0;
	background-size: cover;
	height: 500px;
	position: relative;
}

.dropdown-submenu a:after {
	display: none;
}

.vklink {
	margin: 0px 0 20px;
}

.vklink img {
	height: 19px;
}

.news-title {
	font-size: 24px;
	line-height: 32px;
}

.cContent img {
	max-width: 100%;
	height: auto;
	margin: 0;
}

div.error {
	color: red;
	margin: 10px 0px;
}

.b-feedback-widget .label {display:inline}

.b-feedback-form {
	max-height: 100vh;
	top: 0;
	margin-top: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.b-feedback-form-body {
	max-height: none;
}