body {
  background-image:url("/gfx/bg.gif");
  background-repeat:repeat-x;
  background-position:fixed center top;
  background-color:#CDCFD3;
  padding:80px 0 0 0;
}
body.printPage {text-align:left}
body.printPage h1 {margin:15px}

/****************************************/
#wrap {
  background: url("/gfx/top.png") no-repeat left top #fff; 
  border:none;
}

#main {
    clear: both;
}

#footer {
    background: url("/gfx/footer.jpg") no-repeat center 0 ;
    padding:20px 0;
    margin-top:-20px;
}

#head {
    height: 194px;
    /*padding: 35px 23px 23px 35px;*/
    position: relative;
}

#head .logo {
    margin-top:15px;
    height: 140px;
    overflow: hidden;
}

#head .logo img {
    border: 0 none;
}

#head .cname {
    color: #333333;
    font: 25px Arial;
    margin-top:40px;
}
#head .cname p {
    color: #999999;
    font: 16px Arial;
    margin-top: 3px;
    padding: 0;
}
#head .tright {
    margin-top:40px;
    height: 130px;
    overflow: hidden;
}
.tel {
    border-bottom: 1px solid #FF7B12;
    height: 14px;
}
.tel span {
    background: none repeat scroll 0 0 #FF7B12;
    color: #FFFFFF;
    display: block;
    float: left;
    font: 10px Arial;
    padding: 1px 4px;
}
.numbers {
    padding: 20px 5px 5px;
    text-align: right;
}
.numbers p {
    font: 14px Arial;
    margin: 2px;
}
.numbers p strong {
    font: 20px Arial;
    margin: 0;
    padding: 0;
}

#text_body {

}

.menu {

}
.menu li {

}
.menu li a {

}
.menu li a:hover {

}
.menu li a b {

}
.menu li b {

}
.menu li i{
}

.menu li a:hover b {

}
.menu li.icon {

}
.menu li.icon a {

}

#container {
  background:#fff;
}
#content {

}
#sidebar {

}
.btop {
    background: url("/gfx/b_top.gif") no-repeat scroll 0 0 transparent;
    height: 7px;
}
.bbot {
    background: url("/gfx/b_bot.gif") no-repeat scroll 0 0 transparent;
    height: 40px;
}
.block .inside {
    padding: 10px 25px 0;
}
div.inside {
}

#content_sub {
  background: url("/gfx/bottom.jpg") no-repeat 0 bottom #E6E6E6;
  padding: 60px 0 15px 0;
}

#counters {
    overflow: hidden;
}
#mega {
}
#mega a {
    text-decoration: underline;
}
#mega a:hover {
    text-decoration: none;
}
table.table0 td p, table.table1 td p, table.table2 td p {
    margin: 0;
    padding: 0;
}
table.table0 {
    border-collapse: collapse;
}
table.table0 td {
    border: medium none;
    padding: 5px;
}
table.table1 {
    border-collapse: collapse;
}
table.table1 td {
    border: 1px solid #CCCCCC;
    padding: 5px;
}
table.table2 {
    border-collapse: collapse;
}
table.table2 td {
    border: 1px solid #CCCCCC;
    padding: 5px;
}
table.table2 th {
    background: none repeat scroll 0 0 #FF7B12;
    border: 1px solid #FFFFFF;
    color: #111111;
    padding: 8px 5px;
    text-align: center;
}
table.table3 {
    border-collapse: collapse;
}
table.table3 td {
    border: 1px solid #CCCCCC;
    padding: 1px;
    text-align: center;
    width: 8px;
}
table.table3 td.name {
    border: 1px solid #CCCCCC;
    padding: 1px 1px 1px 5px;
    text-align: left;
    width: 8px;
}
table.table3 th {
    background: none repeat scroll 0 0 #3863BA;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    padding: 1px;
    text-align: center;
}
table.table1 tr:hover, table.table2 tr:hover, table.table3 tr:hover {
    background: none repeat scroll 0 0 #EEEEEE;
}


/* Commons*/ 
/*.cWhiteBox {
  background:#fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.35);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.35);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.35);
}

.cRoundAll {border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;}


.cContent {margin:15px}

.cRuler {font:10px Verdana, Geneva, sans-serif; margin:15px 15px 0 15px}
.cRuler a:link, .cRuler a:visited {color:#999}
.cRuler a:hover {color:#ca4c62}

.cContentBlock {margin:0 auto 20px auto; text-align:left; width:1000px}
.cModuleBlock {margin:0 auto 20px auto; text-align:left; width:1000px}
.fFooterBlock {margin:0 auto 20px auto; text-align:left; width:1000px}
*/

/* Header*/ 
/*#hHeadContainer {height:137px; width:1000px; margin:20px auto; text-align:left}
#hHeader {position:relative; height:100px; width:1000px}
#hHeader .logo {position:absolute; top:15px; left:25px}
#hHeader .slogan {position:absolute; top:72px; left:26px; color:green; font:12px Verdana, Arial, sans; margin:0; padding:0}


#hMenu {background:#e6e6e6; height:36px; width:1000px; position:relative}
#hMenu ul {height:36px; margin:0 0 0 5px; list-style:none}
#hMenu li {float:left; height:36px; line-height:36px}
#hMenu a {padding:0 20px 0 20px; background-color:#eee; background-repeat:no-repeat; height:36px; display:block; text-shadow:0px 1px 3px #333}
#hMenu a:link, #hMenu a:visited {color:#fff; text-decoration:none; background-position:right 0}
#hMenu a:hover {text-decoration:none; background-position:right -36px}
#hMenu a:active {text-decoration:none; background-position:right -72px}
#hMenu b {padding:0 20px; background-color:#ccc; background-repeat:no-repeat; background-position:right -108px; display:block; height:36px; color:#fff; font-weight:normal; text-shadow:0px 1px 3px #333}
*/




/* SendForm */
.cSendForm {margin:0 0 15px 0; padding:10px; background:#eee}
.cSendForm label.hdr {cursor:text; display:block; float:left; font:bold 12px/32px Arial, Helvetica, sans-serif;}
.cSendForm input.text {width:285px; font:22px/22px Arial, Helvetica, sans-serif}
.cSendForm textarea {width:500px; font:14px/16px Arial, Helvetica, sans-serif}
.cSendForm select {margin:11px 0 0 10px; font:12px/14px Arial, Helvetica, sans-serif}
.cSendForm div {margin:0; clear:left}
.cSendForm .row {cursor:text; text-align:left; padding:0 0 10px 0}
/*.cSendForm .file, .cSendForm .text {height:40px}
.cSendForm .area {height:140px}
.cSendForm .area textarea {height:130px}*/
.cSendForm .file input {margin:11px 0 0 10px}
.cSendForm .void {color:#ccc}
.cSendForm .button {margin:0 20px 0 0}
.cSendForm .row .checkbox {margin:0 5px 0 10px}
.cSendForm .toggleDiv {margin:0 15px}
.cSendForm h2 {margin:0 15px 20px 15px}
.cSendForm h2 a:link, .cSendForm h2 a:visited {text-decoration:none; border-bottom:1px dashed}
.cSendForm h2 a:hover {text-decoration:none; border-bottom:0}

.cSendForm .capchaRow label {margin:0 10px 0 0; width:40px}
.cSendForm .capcha {border:0 !important; border-collapse:collapse; width:auto !important}
.cSendForm .capcha td, .cSendForm .capcha th, .cFeedback .capcha th {margin:0 !important; padding:0 5px 0 0 !important; vertical-align:middle !important; background:none !important; width:auto; line-height:0}
.cSendForm .capcha input {font:25px Arial,Helvetica,sans-serif !important; height:27px; width:60px}
.cSendForm .capcha img {cursor:pointer}

/*mSendForm*/
.mFeedBack{margin:20px 0}
.mSendForm {margin:0 0 15px 0; padding:20px 10px; background:#eee;     margin: 0 -350px 15px 0;
    border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; z-index: 300009;
    position:fixed;
    right: 50%; border:1px solid #ada6a6;
    top:200px;
    width: 700px;}
.mSendForm  label.hdr {cursor:text; display:block; float:left; font:bold 12px/32px Arial, Helvetica, sans-serif;}
.mSendForm  input.text {width:285px; font:22px/22px Arial, Helvetica, sans-serif}
.mSendForm  textarea {width:500px; font:14px/16px Arial, Helvetica, sans-serif}
.mSendForm  select {margin:11px 0 0 10px; font:12px/14px Arial, Helvetica, sans-serif}
.mSendForm  div {margin:0; clear:left}
.mSendForm  .row {cursor:text; text-align:left; padding:0 0 10px 0}
/*.cSendForm .file, .cSendForm .text {height:40px}
.cSendForm .area {height:140px}
.cSendForm .area textarea {height:130px}*/
.mSendForm  .file input {margin:11px 0 0 10px}
.mSendForm  .void {color:#ccc}
.mSendForm  .button {margin:0 20px 0 0}
.mSendForm  .row .checkbox {margin:0 5px 0 10px}
.mSendForm  .toggleDiv {margin:0 15px}
.mSendForm  h2 {margin:0 15px 20px 15px}
.mSendForm  h2 a:link, .mSendForm  h2 a:visited {text-decoration:none; border-bottom:1px dashed}
.mSendForm  h2 a:hover {text-decoration:none; border-bottom:0}

.mSendForm  .capchaRow label {margin:0 10px 0 0; width:40px}
.mSendForm  .capcha {border:0 !important; border-collapse:collapse; width:auto !important}
.mSendForm  .capcha td, .mSendForm  .capcha th, .mSendForm  .capcha th {margin:0 !important; padding:0 5px 0 0 !important; vertical-align:middle !important; background:none !important; width:auto; line-height:0}
.mSendForm  .capcha input {font:25px Arial,Helvetica,sans-serif !important; height:27px; width:60px}
.mSendForm  .capcha img {cursor:pointer}
.mSendForm th{text-align:left; padding:0 10px 0 0}

.closeRequestForm {
    background: url("/gfx/close.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 14px;
    position: absolute;
    right: 15px;
    top: 10px;
    width: 14px;
}
/* Congratulations */
.mModule {margin:40px 20px 0 30px; padding:20px 20px 20px 30px; line-height:130%}

.shares {padding:0 0 20px 0}
.yashare-auto-init {float:right}
.yashare {display:inline;}
.yashare .b-share {padding-left:0 !important}
.googlePlusone {margin:0 0 0 10px}
.googlePlusone div {vertical-align:top !important; margin:6px 0 0 0 !important; //display:inline !important;}

#formBg{ background:#000;
    height: 100%;
    left: 0;
    opacity: 0.3; filter: alpha(opacity=30);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 300007;}